<div class="row">
<div class="col s12 m10 push-m1">
  <h3>Experiencia</h3>
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Desarrollador Front-End</span>
          <p>
            Desarrollador temporal en un proyecto de
            una pequeña empresa de desarrollo de software llamada GeekCore.
          </p>
          <b class="orange-text">Tiempo:</b><p>1 mes</p>
          <b class="orange-text">Actividad:</b><p>Desarrollo de componentes de front-end en AngularJS para un proyecto de la empresa.</p>
        </div>
        <div class="card-action">
          <a href="http://www.informacion-empresas.co/Empresa_GEEKCORE-SAS.html">Informacion empresa.</a>
          </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Ingeniero I desarrollo de productos</span>
          <p>
           Desarrollador en el equipo de SISEC de la compañia Olimpia.
          </p>
          <b class="orange-text">Tiempo:</b><p>8 meses</p>
          <b class="orange-text">Actividad:</b>
          <p>
          Trabajando en aplicaciones .NET, base de datos SQL server y apliaciones
          Web MVC con front end en AngularJS.
          </p>
        </div>
        <div class="card-action">
          <a href="https://www.olimpiait.com/sisec.html">Informacion empresa.</a>
          </div>
      </div>
    </div>
  </div>

  <h3>Proyectos academicos y personales</h3>
  <p>Para ver todos los proyectos que e hecho mirar en este <a target="_blank" href="https://github.com/seradiazpin?tab=repositories">link</a></p>
</div>

<div class="row" *ngFor="let pro of proyects">
  <proyect [proyect]="pro" ></proyect>
</div>
</div>
